<script lang="ts">
	import '../app.css';

	export let data;

	const view = [
		['Today', data.submissions.today],
		['Other', data.submissions.old]
	].filter((day) => day[1].length);

	const instructions = [
		'Post your work on dad with a title containing the word CRITME (case insignificant). Leave your comments open. Site will show your work in 10 minutes.',
		'Please add in the description what kind of criticism you want, or what problems you encountered. This will help others give useful feedback.'
	];
</script>

<template>
	<main class="p-4 md:p-12 flex flex-col">
		<h1 class="text-4xl">Do Art Daily's Crit Dashboard</h1>
		{#each view as day}
			<h2 class="text-2xl pt-8 md:pt-12 pb-4">{day[0]}</h2>
			<ul class="grid grid-cols-2 md:grid-cols-4 xl:grid-cols-6 gap-1">
				{#each day[1] as submission}
					<li class="rounded-md overflow-hidden relative">
						<a href={submission.url}>
							<img
								width="150"
								height="150"
								class="w-full"
								alt={submission.title}
								src={submission.image}
							/>
							<div
								class="bg-orange-600  absolute bottom-0 px-2 py-1 text-xl text-white text-center"
							>
								{submission.commentsCount}
							</div>
						</a>
					</li>
				{/each}
			</ul>
		{/each}
		<h2 class="text-2xl pt-8 md:pt-12 pb-4">Instructions</h2>
		<ol class="pb-16">
			{#each instructions as instruction}
				<li class="mb-2">
					{instruction}
				</li>
			{/each}
		</ol>
	</main>
</template>
